<div style='float: left'>
  <% if @user %>
  Logged in as <%= @user.email %>
  |
  <a href='/'>Sign out</a>
  <% end %>
</div>

<div style='float:right'>
  <a href='/properties'>Properties</a>|
  <a href=''>Requests</a>
</div>

<br><br><br>
<center>
<h1>Requests </h1>


<table width="80%" style="text-align:center">
  <tr>
    <th>Requests I've made</th>
    <th>Requests I've received</th>
  </tr>
  <tr>
    <td>a request I've made </td>
    <td>a request I've received </td>
    
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>

