<div align='right'>
  <a href='/sessions/new'>Login</a>
</div>

<center>
<h1>Welcome to MakersBnb</h1>

<br>
<table cellspacing="10">
  
  <form action='/' method='post'>
    <tr>
      <td align='right'><label for='email'>Enter email address:</label></td>
      <td><input type='email' name='email' /></td>
    </tr><tr>
      <td align='right'><label for='password'>Password:</label></td>
      <td><input type='password' name='password' /></td>
    </tr><tr>
      <td align='right'><label for='password_confirmation'>Password Confirmation:</label></td>
      <td><input type='password' name='password_confirmation' /></td
    </tr><tr>
      <td colspan='2' align='center'><input type='submit' value='Sign up' /></td>
    </tr>
  </form>
  
</table>
</center>





<br><br><br><br><br><br><br><br><br>
<marquee behavior="scroll" direction="left">
<div style="text-align:center;">
<img src="http://www.htmlcodes.ws/images/marquees/flying_bat.gif" width="125" height="82" alt="Flying bat in a marquee" /><br />Bruce the Bat
</div>
</marquee>



