<div align='right'>
  <a href='/properties'>Properties</a>|
  <a href=''>Requests</a>|
  <a href='/'>Sign out</a>
</div>

<center>
<h1>Book a Property</h1>

<form action='/properties' method='post'>
  <input type='submit' value='List a Property'>
</form>