<div style='float: left'>
  <% if @user %>
  Logged in as <%= @user.email %>
  |
  <a href='/'>Sign out</a>
  <% end %>
</div>

<div style='float: right'>
  <a href='/properties'>Properties</a>|
  <a href=''>Requests</a>
</div>

<br><br><br>
<center>
<h1>Book a Property</h1>

<form action='/properties' method='post'>
  <input type='submit' value='List a Property'>
</form>
