<div align='right'>
  <a href='/properties'>Properties</a>|
  <a href=''>Requests</a>|
  <a href='/'>Sign out</a>
</div>

<center>
<h1>List a Property</h1>

<br>
<table cellspacing="10">
  
  <form action='/properties/new' method='post'>
    <tr>
      <td><label for='name'>Property Name:</label></td>
    </tr><tr>
      <td><input type='text' name='name' size='50'/></td>
    </tr><tr>
      <td><label for='description'>Description:</label></td>
    </tr><tr>
      <td><input type='text' name='description' size='50'/></td>
    </tr><tr>
      <td><label for='price'>Price per night (£):</label></td>
    </tr><tr>
      <td><input type='text' name='price' /></td
    </tr><tr>
      <td><label for='available_from '>Available from (DD/MM/YY):</label></td>
    </tr><tr>
      <td><input type='date' name='available_from' /></td>
    </tr><tr>
      <td><label for='available_until '>Available until (DD/MM/YY):</label></td>
    </tr><tr>
      <td><input type='date' name='available_until' /></td>
    </tr><tr>
      <td align='center'><input type='submit' value='List my Property' /></td>
    </tr>
  </form>
  
</table>
</center>